.from-date-timer {
  margin: .5em;
  position: relative;
  
  .MuiCircularProgress-root {
    position: absolute;
    right: 0;
  }

  .timer {
    font-size: .7em;
    height: 5em;
    width: 5em;
    padding: 1em;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    background: #fff;
  }
}